@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(15, 71, 130, 0.4) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(15, 71, 130, 0.4);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
